.design{
    background-color: rgb(219, 198, 201);
    margin: 0 auto;
    padding: 10px;
    width: 30%;
    
   

}
.h{
    text-align: center;
   
}

/* h1{
    border: 1px solid blue;
    background-color: lightblue;
} */
.box{
    
    width: 60%;
   
}
.page{

background: url('../../public/hos.jpg');
height: 80vh;
background-size: cover;

padding-top: 150px;
}